.heading{
    color:rgb(255, 96, 96);
    text-Align:center;
    font-Size:1.9rem
  }

  /* Add a black background color to the top navigation */
  .topnav {

    overflow: hidden;
  }

/* Style the links inside the navigation bar */
.topnav a {
    background-color: #333;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 49px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}